/*
 * OpenFGA
 * A high performance and flexible authorization/permission engine built for developers and inspired by Google Zanzibar.
 *
 * The version of the OpenAPI document: 1.x
 * Contact: community@openfga.dev
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package dev.openfga.sdk.api;

import static dev.openfga.sdk.util.Validation.assertParamExists;

import com.fasterxml.jackson.core.type.TypeReference;
import dev.openfga.sdk.api.client.ApiClient;
import dev.openfga.sdk.api.configuration.Configuration;
import dev.openfga.sdk.api.configuration.ConfigurationOverride;
import dev.openfga.sdk.api.model.ListObjectsRequest;
import dev.openfga.sdk.api.model.StreamResult;
import dev.openfga.sdk.api.model.StreamedListObjectsResponse;
import dev.openfga.sdk.errors.ApiException;
import dev.openfga.sdk.errors.FgaInvalidParameterException;
import dev.openfga.sdk.util.StringUtil;
import java.net.http.HttpRequest;
import java.util.concurrent.CompletableFuture;
import java.util.function.Consumer;

/**
 * API layer for handling streaming responses from the streamedListObjects endpoint.
 * This class extends BaseStreamingApi to provide true asynchronous streaming with consumer callbacks
 * using CompletableFuture and Java 11's HttpClient async streaming capabilities.
 */
public class StreamedListObjectsApi extends BaseStreamingApi<StreamedListObjectsResponse> {

    public StreamedListObjectsApi(Configuration configuration, ApiClient apiClient) {
        super(configuration, apiClient, new TypeReference<StreamResult<StreamedListObjectsResponse>>() {});
    }

    /**
     * Stream all objects of the given type that the user has a relation with.
     * Each streamed response is delivered to the consumer callback asynchronously as it arrives.
     * Returns a CompletableFuture that completes when streaming is finished.
     *
     * @param storeId The store ID
     * @param body The list objects request
     * @param consumer Callback to handle each StreamedListObjectsResponse (invoked asynchronously)
     * @return CompletableFuture<Void> that completes when streaming finishes
     * @throws ApiException if the API call fails immediately
     * @throws FgaInvalidParameterException if required parameters are missing
     */
    public CompletableFuture<Void> streamedListObjects(
            String storeId, ListObjectsRequest body, Consumer<StreamedListObjectsResponse> consumer)
            throws ApiException, FgaInvalidParameterException {
        return streamedListObjects(storeId, body, consumer, null, this.configuration);
    }

    /**
     * Stream all objects of the given type that the user has a relation with.
     * Each streamed response is delivered to the consumer callback asynchronously as it arrives.
     * Returns a CompletableFuture that completes when streaming is finished.
     *
     * @param storeId The store ID
     * @param body The list objects request
     * @param consumer Callback to handle each StreamedListObjectsResponse (invoked asynchronously)
     * @param configurationOverride Configuration overrides (e.g., additional headers)
     * @return CompletableFuture<Void> that completes when streaming finishes
     * @throws ApiException if the API call fails immediately
     * @throws FgaInvalidParameterException if required parameters are missing
     */
    public CompletableFuture<Void> streamedListObjects(
            String storeId,
            ListObjectsRequest body,
            Consumer<StreamedListObjectsResponse> consumer,
            ConfigurationOverride configurationOverride)
            throws ApiException, FgaInvalidParameterException {
        return streamedListObjects(storeId, body, consumer, null, this.configuration.override(configurationOverride));
    }

    /**
     * Stream all objects of the given type that the user has a relation with.
     * Each streamed response is delivered to the consumer callback asynchronously as it arrives.
     * Returns a CompletableFuture that completes when streaming is finished.
     *
     * @param storeId The store ID
     * @param body The list objects request
     * @param consumer Callback to handle each StreamedListObjectsResponse (invoked asynchronously)
     * @param errorConsumer Optional callback to handle errors during streaming
     * @return CompletableFuture<Void> that completes when streaming finishes or exceptionally on error
     * @throws ApiException if the API call fails immediately
     * @throws FgaInvalidParameterException if required parameters are missing
     */
    public CompletableFuture<Void> streamedListObjects(
            String storeId,
            ListObjectsRequest body,
            Consumer<StreamedListObjectsResponse> consumer,
            Consumer<Throwable> errorConsumer)
            throws ApiException, FgaInvalidParameterException {
        return streamedListObjects(storeId, body, consumer, errorConsumer, this.configuration);
    }

    /**
     * Stream all objects of the given type that the user has a relation with.
     * Each streamed response is delivered to the consumer callback asynchronously as it arrives.
     * Returns a CompletableFuture that completes when streaming is finished.
     *
     * @param storeId The store ID
     * @param body The list objects request
     * @param consumer Callback to handle each StreamedListObjectsResponse (invoked asynchronously)
     * @param errorConsumer Optional callback to handle errors during streaming
     * @param configurationOverride Configuration overrides (e.g., additional headers)
     * @return CompletableFuture<Void> that completes when streaming finishes or exceptionally on error
     * @throws ApiException if the API call fails immediately
     * @throws FgaInvalidParameterException if required parameters are missing
     */
    public CompletableFuture<Void> streamedListObjects(
            String storeId,
            ListObjectsRequest body,
            Consumer<StreamedListObjectsResponse> consumer,
            Consumer<Throwable> errorConsumer,
            ConfigurationOverride configurationOverride)
            throws ApiException, FgaInvalidParameterException {
        return streamedListObjects(
                storeId, body, consumer, errorConsumer, this.configuration.override(configurationOverride));
    }

    /**
     * Internal implementation that accepts a final Configuration to use for the request.
     */
    private CompletableFuture<Void> streamedListObjects(
            String storeId,
            ListObjectsRequest body,
            Consumer<StreamedListObjectsResponse> consumer,
            Consumer<Throwable> errorConsumer,
            Configuration configuration)
            throws ApiException, FgaInvalidParameterException {

        assertParamExists(storeId, "storeId", "streamedListObjects");
        assertParamExists(body, "body", "streamedListObjects");

        String path = "/stores/{store_id}/streamed-list-objects"
                .replace("{store_id}", StringUtil.urlEncode(storeId.toString()));

        try {
            HttpRequest request = buildHttpRequest("POST", path, body, configuration);
            return processStreamingResponse(request, consumer, errorConsumer);
        } catch (Exception e) {
            if (errorConsumer != null) {
                errorConsumer.accept(e);
            }
            return CompletableFuture.failedFuture(e);
        }
    }
}
